# Archivos de KiCad que deben ser ignorados
# ----------------------------------------
# Estos archivos son generados automáticamente y no deben ser versionados.

# Archivos de respaldo
*.bak
*.orig

# Archivos de lista de red (netlist)
*.net

# Archivos de la vista 3D
*-cache.lib
*-cache.kicad_sym

# Archivos de impresión y de gráficos
*.gbr
*.drl
*.gko
*.pos
*.cmp
*.rpt
*.txt
*.gerb

# Archivos de la librería de símbolos
*.dcm

# Archivos de historial
*.kicad_pcb-bak
*.sch-bak

# Archivos del proyecto y la interfaz de usuario
fp-lib-table
sym-lib-table
.kicad_pro.bak
.kicad_pcb.bak
.sch-bak

# Archivos temporales y de caché
*.kicad_pcb-bkp
*.kicad_sch-bkp
*-bak.pro

# Archivos de la simulación
*.spice
*.spicesim

# Archivos de la librería de huellas (footprints)
*.kicad_mod-bak
